/* Fonte Google DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* CORES PLANETÁRIO */
:root {
  --P01: #D78341;
  --P02: #FFF8E7;
  --P03: #3C5558;
  --P04: #586E5F;
  --P05: #070504;
  --P06: #191615;
  --P07: #392B22;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  padding: 20px;
  background: var(--P02);
    max-width: 1080px;  /* largura máxima */
  margin: auto;
}

#grafico {
  margin: 20px 0;
}

.mes {
  background: var(--P04);
  border-radius: 15px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.mesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  background: var(--P01);
  color: var(--P02)
}

.mesHeader span {
  margin-right: 10px;
}

/* CORES RESULTADO */
.positivo {
  color: #2ecc71; /* verde */
  font-weight: bold;
}

.negativo {
  color: #e74c3c; /* vermelho */
  font-weight: bold;
}

.removeMes {
  color: white;
  background: red;
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  font-weight: bold;
}

.duplicarMes {
  color: var(--P04);
  background: var(--P02);
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-right: 10px;
}

.duplicarMes svg {
  width: 15px;
  height: 15px;
}

.mesBody {
  padding: 20px;
  overflow: hidden;
   max-height: 1000px; /* valor alto suficiente */
    opacity: 1;
  transition:
    max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    padding 0.3s ease,
    opacity 0.3s ease;
}

.mes.collapsed .mesBody {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;  
}

.mes.collapsed .mesHeader {
  opacity: 0.85;
}

.mes.collapsed .mesHeader:hover {
  opacity: 1;
  background: #c06d32;
  transform: scale(1.01);
}

.mesAtual {
  border: 2px solid var(--P03);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.container {
  display: flex;
  gap: 20px;
  align-items: stretch; /* garante mesma altura */
}

.coluna {
  flex:1;
  min-width: 0;
  background: var(--P02);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px; /* pode ajustar */
}

.coluna h4 {
  margin-top: 0;
  margin-bottom: 10px; /* ajusta como quiser */
}

.conteudoColuna {
  flex: 1;
}

.rodapeColuna {
  margin: 10px 0 0 0;
  padding: 10px;

  background: var(--P03);
  color: white;

  border-radius: 8px;

  display: flex;
  justify-content: space-between; /* "Total" de um lado, valor do outro */
}

.valorTotal {
  display: flex;
  gap: 4px; /* controla espaço entre R$ e número */
}

.topoColuna {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.acoesTopo {
  display: flex;
  gap: 5px;
}

.acoesTopo button {
  border: none;
  background: var(--P01);
  color: white;
  border-radius: 6px;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 12px;
}

.item {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.item button {
  border-radius: 5px;
  padding: 2px 6px;
}

.totalFinal {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  color: var(--P02)
}

.addMesBox {
  display: flex;
  justify-content: center;   /* centraliza horizontalmente */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 50px;       /* cantos totalmente arredondados */
}

.addMesBox button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;       /* cantos arredondados também no botão */
  background: var(--P03);       /* azul */
  color: white;              
  font-weight: bold;
  cursor: pointer;
}

.removeItem {
  color: white;
  background: var(--P01);
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-weight: bold;
  padding: 0;
}

/* INPUTS */

.inputPadrao {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

.inputPadrao:hover,
.inputPadrao:focus {
  border: 2px solid var(--P04);
  box-shadow: 0px 0px 0px 3px rgb(74, 157, 236, 20%);
  background-color: white;
}

.salario {
  margin-bottom: 10px;
}